<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="angular/bin/angular.js"></script>
    <script src="angular/bin/angular-route.js"></script>
    <script src="angular/app.js"></script>
    <script src="angular/todosController.js"></script>
  </head>
  <body>
      <div ng-view>
      </div>
  </body>
</html>
