<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="angular/lib/angular.js"></script>
    <script src="angular/lib/angular-route.js"></script>
    <script src="angular/src/app.js"></script>
    <script src="angular/src/todosController.js"></script>
    <script src="angular/src/nuevoController.js"></script>
    <script src="angular/src/editarController.js"></script>
    <script src="angular/src/signupController.js"></script>
    <script src="angular/src/loginController.js"></script>
    <script src="angular/src/verController.js"></script>
    <script src="angular/src/proxyFactory.js"></script>
    <script src="angular/src/alumnosProxy.js"></script>
    <script src="angular/src/accountProxy.js"></script>
    <script src="angular/src/tokenStorage.js"></script>
    <script src="angular/src/httpInterceptor.js"></script>
  </head>
  <body>
      <div ng-view>
      </div>
  </body>
</html>
