 <div class="jumbotron">
    <h1 class="text-center">Login</h1>
    <form name="frmLogin"  ng-submit="frmLogin.$valid && ctrl.login()" 
      ng-controller="LoginController as ctrl"
      novalidate >
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Email</span>
          <input type="email" class="form-control" placeholder="Email" aria-
                 describedby="sizing-addon1" ng-model="ctrl.email" required/>
        </div>
        <br/>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon2">Password</span>
          <input type="password" class="form-control" placeholder="Password" 
                 aria-describedby="sizing-addon2" ng-model="ctrl.password" 
                 required/>
        </div>
        <br/>
        <p class="text-center"><input class="btn btn-lg btn-success" role="button" type="submit" value="Login" />
        <a ng-href="#/signup">Signup</a></p>
    </form>
</div>

