<div ng-controller="TodosController as ctrl">
    <h1 class="text-center">Alumnos</h1>
    <h4>{{"Hola : " + ctrl.saludo || "no hay usuario"}}</h4>
    <p class="text-right">
        <a class="btn btn-lg btn-success" href="#/nuevo" role="button">Alumno 
        Nuevo</a>
    </p>
    
    <table class="table table-hover">
      <tr ng-repeat="alumno in ctrl.alumnos">
        <td><a ng-href="#/ver/{{alumno._id}}">{{alumno.nombre}}</a></td>
        <td><a href="#" ng-click="ctrl.delete(alumno._id)">Borrar</a></td>
      </tr>
    </table>
</div>
