<div ng-controller="VerController as ctrl">
     <div class="jumbotron">
        <h1 class="text-center">Alumno</h1>
        Nombre: {{ctrl.nombre}}
         <br>
        Calificacion: {{ctrl.calificacion}}
        <a ng-href="#/todos">Regresar a todos</a>
         <br>
         <br>
        <p class="text-center"><a class="btn btn-lg btn-success" ng-
            href="#/editar/{{ctrl.id}}" role="button">Editar</a>
            <a class="btn btn-lg btn-warning" href="#/todos" ng-click="ctrl.delete()"
            role="button">Borrar</a>
         </p>
    </div>
</div>



